<template>
  <html>
  <div class="ui four column centered auth grid">
    <div class="column">
  
      <div class="ui card">
        <div class="content">
          <div class="header">Авторизация</div>
        </div>
        <div class="content">
  
          <form class="ui form">
            <div class="login field">
              <label>Логин</label>
              <input type="text" name="login" placeholder="Логин...">
            </div>
            <div class="password field">
              <label>Пароль</label>
              <input type="password" name="password" placeholder="Пароль...">
            </div>
            <button @click="login" class="ui blue right floated login button" type="button">Войти</button>
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  </html>
</template>

<script>
  import {
    auth
  } from "../Api.js"
  
  export default {
    methods: {
      login() {
        auth()
      }
    }
  }
</script>
