<template>
    <html>
    <div class="ui small modal contact">
        <i class="close icon"></i>
        <div class="modal header">
            Новый контакт
        </div>
        <div class="content">
            <div class="ui left icon input">
                <input class="firstname input" type="text" placeholder="Имя">
            </div>
            <p>
                <div class="ui left icon input">
                    <input class="lastname input" type="text" placeholder="Фамилия">
                </div>
                <p>
                    <div class="ui left icon input">
                        <input class="email input" type="text" placeholder="Почта">
                        <i class="envelope icon"></i>
                    </div>
                    <p>
                        <div class="ui left icon input">
                            <input class="phone input" type="text" placeholder="Телефон">
                            <i class="phone icon"></i>
                        </div>
        </div>
        <div class="actions">
            <div class="ui green right labeled icon save button">
                <div class="title">Добавить</div>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui two column centered phones grid">
        <div class="column">
            <div>
                <h1 class="title">Контакты {{user.userId}}<button class="negative ui button logout button"><i class="icon times"></i>Выйти</button></h1>
            </div>
            <div class="search ui icon input">
                <i class="search icon"></i>
                <input class="search input" type="text" v-model="search" placeholder="Поиск...">
            </div>
            <button @click="deleteMultiple" class="ui red button" v-if="showDeleteMultiple">
          <i class="trash icon"></i>
          <span>Удалить {{this.selection.length}} контакта</span>
        </button>
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Почта</th>
                        <th>Телефон</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in filterBy(phones,this.search,'firstname','lastname','email','phone')" v-bind:id="item.id">
                        <td>
                            <div class="ui checkbox">
                                <input v-bind:value="item.id" v-model="selection" type="checkbox">
                                <label></label>
                            </div>
                        </td>
                        <td id="fname">{{item.firstname}}</td>
                        <td id="lname">{{item.lastname}}</td>
                        <td id="email">{{item.email}}</td>
                        <td id="phone">{{item.phone}}</td>
                        <td><i v-bind:pos="index" v-bind:id="item.id" class="pencil alternate edit icon"></i><i v-bind:pos="index" v-bind:id="item.id" class="trash alternate delete icon"></i></td>
                    </tr>
                </tbody>
            </table>
    
            <button class="ui basic create contact button">
                                                                                                                                                                                                  <i class="icon plus"></i>
                                                                                                                                                                                                  Создать
                                                                                                                                                                                                </button>
        </div>
    </div>
    
    </html>
</template>

<script>
    import {
        logout,
        url,
        updateContact,
        getContacts,
        getUser,
        createContact,
        deleteContact,
        deleteMultipleContacts
    } from '../Api.js'
    
    export default {
    
    
        data: function() {
            return {
                phones: [],
                user: '',
                editId: -1,
                editPos: -1,
                search: '',
                selection: []
            }
        },
        mounted() {
            this.loadPhones()
            this.loadUser()
            this.addOnAddListener()
            this.addOnCreateListener()
        },
        updated() {
            this.addOnLogoutListener()
            this.addOnDeleteListener()
            this.addOnEditListener()
            window.lol = this.selection
        },
        computed: {
            showDeleteMultiple: function() {
                return this.selection.length > 1
            }
        },
        methods: {
            deleteMultiple:function(){
                deleteMultipleContacts(this.selection).then(() => {
                    this.selection.forEach(el =>{
                        this.deletePhone(el)
                    })
                    this.selection = []
                }).catch(error =>{
                    console.log(error)
                })
            },
            getPhoneId: function(id) {
                const x = this.phones
                return x.findIndex(x => x.id == id)
            },
    
            clearAddUpdateForm: function() {
                const fname = document.querySelector(".firstname.input")
                const lname = document.querySelector(".lastname.input")
                const email = document.querySelector(".email.input")
                const phone = document.querySelector(".phone.input")
                fname.value = ""
                lname.value = ""
                email.value = ""
                phone.value = ""
            },
            updateContact: function() {
                const fname = document.querySelector(".firstname.input").value
                const lname = document.querySelector(".lastname.input").value
                const email = document.querySelector(".email.input").value
                const phone = document.querySelector(".phone.input").value
    
                updateContact({
                    id: this.editId,
                    firstname: fname,
                    lastname: lname,
                    email: email,
                    phone: phone
                }).then(obj => {
                    this.$set(this.phones, this.editPos, obj.data)
                    $('.ui.small.modal').modal('hide')
                }).catch(error => {
                    console.log(error)
                })
            },
            deletePhone: function(id) {
                this.$delete(this.phones, this.getPhoneId(id))
            },
            loadPhones: function() {
    
                getContacts().then(obj => {
                    this.phones = obj.data
                }).catch(error => {
                    console.log(error)
                })
            },
            loadUser: function() {
    
                getUser().then(obj => {
                    this.user = obj.data
                }).catch(error => {
                    console.log(error)
                })
            },
            addOnLogoutListener: function() {
                const logoutBtn = document.querySelector(".logout.button")
                if (logoutBtn != undefined && !logoutBtn.classList.contains("listen")) {
                    logoutBtn.addEventListener("click", () => {
                        $('.ui.small.modal').remove()
                        logout()
                    }, false)
                    logoutBtn.classList.add("listen")
                }
            },
            addOnAddListener: function() {
                const addBtn = document.querySelector(".create.contact")
                addBtn.addEventListener("click", () => {
                    const header = document.querySelector(".modal.header")
                    const updateBtn = document.querySelector(".save.button div")
                    header.innerText = "Новый контакт"
                    updateBtn.innerText = "Добавить"
                    this.clearAddUpdateForm()
                    const elmodal = document.querySelector(".ui.small.modal")
                    elmodal.id = "add"
                    $('.ui.small.modal').modal('setting', 'transition', 'scale').modal('show')
                }, false)
            },
            addOnCreateListener: function() {
                const createBtn = document.querySelector(".save.button")
                createBtn.addEventListener("click", () => {
                    const elmodal = document.querySelector(".ui.small.modal")
                    if (elmodal.id == 'update') {
                        this.updateContact()
                        return
                    }
                    const fname = document.querySelector(".firstname.input")
                    const lname = document.querySelector(".lastname.input")
                    const email = document.querySelector(".email.input")
                    const phone = document.querySelector(".phone.input")
                    var body = {
                        firstname: fname.value,
                        lastname: lname.value,
                        email: email.value,
                        phone: phone.value
                    }
                    createContact(body).then(obj => {
                        body.id = obj.data.contactId
                        this.phones.push(body)
                    }).catch(error => {
                        console.log(error)
                    })
                    this.clearAddUpdateForm()
                    $('.ui.small.modal').modal('hide')
                }, false)
            },
            addOnDeleteListener: function() {
                const deleteBtns = document.querySelectorAll(".delete.icon")
                for (var i = 0; i < deleteBtns.length; ++i) {
                    const el = deleteBtns[i]
                    if (!el.classList.contains("listen")) {
                        el.addEventListener('click', () => {
    
    
                            deleteContact(el.id).then(obj => {
                                this.deletePhone(parseInt(el.id))
                            }).catch(error => {
                                console.log(error)
                            })
                        }, false)
                        el.classList.add("listen")
                    }
                }
            },
            addOnEditListener: function() {
                const editBtns = document.querySelectorAll(".edit.icon")
                for (var i = 0; i < editBtns.length; ++i) {
                    const el = editBtns[i]
                    if (!el.classList.contains("listen")) {
                        el.addEventListener('click', () => {
                            const header = document.querySelector(".modal.header")
                            const fname = document.querySelector(".firstname.input")
                            const lname = document.querySelector(".lastname.input")
                            const email = document.querySelector(".email.input")
                            const phone = document.querySelector(".phone.input")
                            const elmodal = document.querySelector(".ui.small.modal")
                            const updateBtnText = document.querySelector('.save.button div')
                            elmodal.id = "update"
                            header.innerText = "Изменить контакт"
                            updateBtnText.innerText = "Сохранить"
                            fname.value = document.querySelector(`tr[id='${el.id}'] td[id='fname']`).innerText
                            lname.value = document.querySelector(`tr[id='${el.id}'] td[id='lname']`).innerText
                            email.value = document.querySelector(`tr[id='${el.id}'] td[id='email']`).innerText
                            phone.value = document.querySelector(`tr[id='${el.id}'] td[id='phone']`).innerText
                            this.editId = el.id
                            this.editPos = this.getPhoneId(el.id)
                            $('.ui.small.modal').modal('setting', 'transition', 'scale').modal('show')
                        }, false)
                        el.classList.add("listen")
                    }
                }
            }
        }
    }
</script>